body{
    background-color:  hsl(225, 100%, 94%);
    background-image: url("pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    justify-content: center;
    margin: 0;   
}
.container{
    background-color: white;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    padding: 0;
    max-width: 400px;
    
}
.text-container{
    text-align: center;
    padding: 5%;
}
h2{
    color:  hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 1.5rem;
}
p{
    color: #8a8a8a;
    font-size: 14px;
    line-height: 2;
}
.sub{
    width: 75%;
    margin: 2% auto 5%;
}
.payment-plan{
    align-items: center;
    background-color:  hsl(225, 100%, 98%);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    padding: 2% 5%;
    
    
}
.payment-text{
    align-items: center;
    display: flex;
    text-align: left;
}
.payment-text div{
    margin-left: 20px;
}
.change-plan{
    font-weight: 900;
    color:  hsl(245, 75%, 52%);
}
.change-plan:hover{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}
h5{
    color:  hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 15px;
}
.price{
    margin-top:1px;
}
.btn{
    background-color: hsl(245, 75%, 52%);
    border-radius: 12px;
    color: white;
    display: block;
    margin-bottom: 5%;
    padding: 12px;
}
.btn:hover{
    background-color: hsl(224, 23%, 55%);
    text-decoration: none;
}
.cancel{
    color:hsl(224, 23%, 55%);
    font-weight: 900;
    text-decoration: none;
}
.cancel:hover{
    color: hsl(223, 47%, 23%);
}

@media (max-width:400px){
    body{
        background-image: url("pattern-background-mobile.svg") ;
    }
    .container{
        max-width: 90%;
    }
}